<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<form [formGroup]="angForm" id="formularioModificacion" enctype="multipart/form-data">
  <button type="submit" (click)="insertNumber(1)" >1</button>
  <button type="submit" (click)="insertNumber(2)" >2</button>
  <button type="submit" (click)="insertNumber(3)" >3</button>
  <button type="submit" (click)="insertNumber(4)" >4</button>
  <button type="submit" (click)="insertNumber(5)" >5</button>
  <button type="submit" (click)="insertNumber(6)" >6</button>
  <button type="submit" (click)="insertNumber(7)" >7</button>
  <button type="submit" (click)="insertNumber(8)" >8</button>
  <button type="submit" (click)="insertNumber(9)" >9</button>
  <button type="submit" (click)="insertNumber(10)" >10</button>
</form>


